{% extends 'base.html' %}
{% load media_tag %}
{% block content %}
<div class="card mb-4 box-shadow">
    <img class="card-img-top"
                     src="{{ product.image | media_tag }}"
                     width="300" height="300">
    <div class="card-header">
        <h4 class="my-0 font-weight-normal">{{product.name}}</h4>
    </div>
    <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4 text-start m-3">
            <li>{{product.description}}</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary">
            {{product.price}} руб.
        </button>
        {% if perms.catalog.product_set_published_status and perms.catalog.product_change_description and perms.catalog.product_change_category or user == product.owner or user.is_superuser %}
        <a class="btn btn-lg btn-block btn-warning" href="{% url 'catalog:product_update' object.pk %}">Изменить</a>
        {% endif %}
        {% if user == product.owner or user.is_superuser %}
        <a class="btn btn-lg btn-block btn-danger" href="{% url 'catalog:product_delete' object.pk %}">Удалить</a>
        {% endif %}
    </div>
</div>
{% endblock %}