{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="col-12">
        <form class="row" method="post" enctype="multipart/form-data">
            <div class="col-6">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        {% if object %}
                        <h3>Изменить описание продукта</h3>
                        {% else %}
                        <h3>Добавить продукт</h3>
                        {% endif %}
                        {% csrf_token %}
                        {{ form.as_p }}
                        {% if object %}
                        <button type="submit" class="btn btn-success">Сохранить</button>
                        {% else %}
                        <button type="submit" class="btn btn-success">Добавить</button>
                        {% endif %}
                        {% if object %}
                        <a class="btn btn-primary "
                           href="{% url 'catalog:product_detail' object.pk %}">Отмена</a>
                        {% else %}
                        <a class="btn btn-primary "
                           href="{% url 'catalog:product_list' %}">Отмена</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if formset %}
            <div class="col-6">
                <div class="card-header"> Управление версиями продукта</div>
                {{ formset.management_form }}
                {% for form in formset %}
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        {{ form.as_p }}
                    </div>
                </div>
                {% endfor %}
            {% endif %}
            </div>
        </form>
    </div>
</div>
{% endblock %}